.parent-product-desc{
    /* background-color: rgba(145, 138, 138, 0.151); */
    background: url("../../images/productDescriptionPage/descriptionPageBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* fill-opacity: 0.5; */
    /* filter:brightness(0.5); */
    color: #fff !important;
    height: 100%;
    /* background-color:#2c016d; */
}
.discount-desc-div{
  height: 50px;
  width: 50px;
  background-color: red;
  position: relative;
  top: 58px;
  left: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: saclediscount 2s ease-in-out 0s infinite  ; 
  transition: all 0.4s;
}
@keyframes saclediscount {
  0%{
    scale:1;
  }
  50%{
    scale: 0.4;
  }
  100%{
    scale: 1;
  }
}
.product-desc-div{
    padding:2% auto ;
    margin: 2% 3%;
    height: 31rem;
  width: 31rem;

    border: 2px solid rgba(128, 128, 128, 0.37);
    border-radius: 2%;
    background-color: white ;
   
    overflow-x: hidden;
   
}
.product-desc-div:hover{
    color: #fff;
    transition-duration:0.3s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.product-desc-div  img{
    height:100%;
    width: 100%;
    padding: 60px 40px;
    border-bottom:1.9px solid rgb(17, 17, 17) ;
}

.product-desc-div-scroll {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #888 transparent; /* Color of the thumb and track */
     background-color: #888; /* Color of the thumb */
        border-radius: 50px; /* Makes the thumb circular */
        /* background: transparent;  */
        
}

.product-animation{
    animation: imageTra 1s linear  1;
    transition: all;
}

@keyframes imageTra {
    0%{
        position: relative;
        top: 95px;
        left: 578px;
        scale: 0.4;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0px;
        left: 0px;
        scale:  1;
        opacity: 1;
    }
}
/*  */
.desc-brand{
  padding-bottom: 40px;
  border-bottom: 1px dotted grey;
  animation: fadeIn 5s linear 1s 1;
  -webkit-animation: fadeIn 5s ease 1s 1;
  -moz-animation: fadeIn 5s ease 1s 1;
  -o-animation: fadeIn 5s ease 1s 1;
  -ms-animation: fadeIn 5s ease 1s 1;
}
.desc-gender{
  font-weight: 600;
  background-color: yellow;
 
  color: rgba(255, 0, 13, 0.548);
}
.desc-gender-parent{
  font-size: larger;
}
.desc-name{
  font-weight: 800;
 
}
.font-family{
  font-family: 'Kanit', sans-serif;
}
.description-text{
    /* font-weight: 600; */
    /* color: rgba(0, 0, 0, 0.726); */
}
.font-weight-600{
font-weight: 600;
}
.description-text-div{
    animation: fadeIn 5s linear 1s 1;
    -webkit-animation: fadeIn 5s ease 1s 1;
    -moz-animation: fadeIn 5s ease 1s 1;
    -o-animation: fadeIn 5s ease 1s 1;
    -ms-animation: fadeIn 5s ease 1s 1;
    
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}
.desc .h {
    /* color: rgba(0, 0, 0, 0.356); */
    
    overflow: hidden;
    border-right: .15em solid rgba(255, 166, 0, 0.342); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .04em; 
    animation: 
      typing 2.5s steps(30, end) 1s,
      blink-caret .5s step-end 30 ;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% {
         /* border-color: orange; */
         
        }
  }


  /* buy sell */

  .desc-buy-sell-div{
    margin: 2% 3%;
    width: 35%;
    display: flex;
    gap: 2%;
    padding-bottom: 40px;
  }
  .desc-buy-sell-div .buy-sell-desc{
width: 49%;
  }


  .button-buy-desc {
    --width: 100px;
    --height: 40px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button-buy-desc::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button-buy-desc::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button-buy-desc::after,.button-buy-desc::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text-buy-desc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper-buy-desc,.text-buy-desc,.icon-buy-desc {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text-buy-desc {
    top: 0
  }
  
  .text-buy-desc,.icon-buy-desc {
    transition: top 0.5s;
  }
  
  .icon-buy-desc {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-buy-desc svg {
    width: 24px;
    height: 24px;
  }
  
  .button-buy-desc:hover {
    background: #222;
  }
  
  .button-buy-desc:hover .text-buy-desc {
    top: -100%;
  }
  
  .button-buy-desc:hover .icon-buy-desc {
    top: 0;
  }
  
  .button-buy-desc:hover:before,.button-buy-desc:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button-buy-desc:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button-buy-desc:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }


  /* add to cart desc */

  .CartBtn-add-to-cart-desc {
    width: 140px;
    height: 40px;
    border-radius: 0.45em;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s; 
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer-add-to-cart-desc {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon-add-to-cart-desc {
    border-radius: 1px;
  }
  
  .text-add-to-cart-desc {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtn-add-to-cart-desc:hover .IconContainer-add-to-cart-desc {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn-add-to-cart-desc:hover .text-add-to-cart-desc {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn-add-to-cart-desc:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }
  
/* price */
  .price-div{
    display: flex;
    align-items: center;
    gap: 4%;
  }
.display-none-desc{
  display: none;
}
.red-yellow-animation-desc{
  /* color: red; */
  animation: resYellow 2s linear 0s infinite;
  transform-origin: left;
  transition: all 0.7s;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes resYellow {
  0%{
    scale: 1;
    transform-origin: left;
    color: red;
  }
  50%{
    scale:1.1 ;
    transform-origin: left;
    color:yellow;
  }
  100%{
    transform-origin: left;
    color:red ;
  }
}
  .text-decoration-desc{
    text-decoration: line-through;
  }
  .border-top{
    border-top: 4px solid black;
  }
  .price-desc{
    width: 40%;
  }
  .buy-sell-price-parent{
    width: 100%;
  }

.dispay-flex{
  display: flex;
}
  /* responsive */

  @media screen and (max-width: 576px) {
    .parent-product-desc {
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff !important;
        height: 100%;
    }
.desc-name{
font-size: medium;
}
.dispay-flex{
  display: block;
}
    .product-desc-div {
      width: 80%;
      /* height: auto; */
      margin: 2% auto;
    }
.desc-parent{
  width: 80%;
  margin: 0 auto;
}
    .desc-buy-sell-div {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .desc-buy-sell-div .buy-sell-desc {
        width: 80%;
        margin-bottom: 20px;
    }

    .price-desc {
        width: 80%;
    }

    .button-buy-desc,
    .CartBtn-add-to-cart-desc {
        width: 100%;
    }

    .IconContainer-add-to-cart-desc {
        left: calc(50% - 15px);
    }

    .text-add-to-cart-desc {
        width: calc(100% - 60px);
        font-size: 0.9em;
    }
}
/* 
@media only screen and (max-width: 768px) {
  .parent-product-desc {
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff !important;
      height: 100%;
  }

  .product-desc-div {
      width: 100%;
      height: auto;
      margin: 2% 0;
  }

  .desc-buy-sell-div {
      width: 100%;
      flex-direction: column;
      align-items: center;
  }

  .desc-buy-sell-div .buy-sell-desc {
      width: 80%;
      margin-bottom: 20px;
  }

  .price-desc {
      width: 80%;
  }

  .button-buy-desc,
  .CartBtn-add-to-cart-desc {
      width: 100%;
  }

  .IconContainer-add-to-cart-desc {
      left: calc(50% - 15px);
  }

  .text-add-to-cart-desc {
      width: calc(100% - 60px);
      font-size: 0.9em;
  }
} */

/* For large devices (laptops/desktops, 992px and below) */
/* @media only screen and (max-width: 992px) {
  .parent-product-desc {
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff !important;
      height: 100%;
  }

  .product-desc-div {
      width: 100%;
      height: auto;
      margin: 2% 0;
  }

  .desc-buy-sell-div {
      width: 100%;
      flex-direction: column;
      align-items: center;
  }

  .desc-buy-sell-div .buy-sell-desc {
      width: 80%;
      margin-bottom: 20px;
  }

  .price-desc {
      width: 80%;
  }

  .button-buy-desc,
  .CartBtn-add-to-cart-desc {
      width: 100%;
  }

  .IconContainer-add-to-cart-desc {
      left: calc(50% - 15px);
  }

  .text-add-to-cart-desc {
      width: calc(100% - 60px);
      font-size: 0.9em;
  }
} */

/* rating */

.rating-div{
  margin: 0 3%;
}
.rating-btn-div{
  display: flex;
  /* justify-content: space-between; */
  gap: 4%;
}
.give-rating-div{
padding: 50px;
}
.btn-rating{
  padding-top: 19px;
}
.rating-inner-div{
  display: flex;
 
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
.visibal{
  visibility: visible;
  width: fit-content;
}
.not-visibal{
  visibility: hidden;
  width: fit-content;

}

.button-rating {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
 }
 
 .button-rating::before,
 .button-rating::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
 }
 
 .button-rating::before {
  left: -10px;
  background: #240046;
 }
 
 .button-rating::after {
  right: -10px;
  background: #5a189a;
 }
 
 .button-rating:hover::before,
 .button-rating:hover::after {
  width: 58%;
 }
 
 .button-rating:hover span {
  color: #e0aaff;
  transition: 0.3s;
 }
 
 .button-rating span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
 }