/* * {
    padding: 0px;
    margin: 0px;
} */

.position-fixed {
    position: sticky;
    top: 0px;
}

.cart-body {
    padding-top: 3%;
    height: 100vh;
    /* z-index: 1; */
    width: 100%;
    background: rgb(145,117,249, 0.3);
    /* background: rgba(183, 183, 183, 0.3); */
    /* background: linear-gradient(90deg, rgb(102 ,51 ,153 ,1) 0%, rgba(102, 51, 153, 0.8491596467688638) 4%, rgba(249, 249, 249, 0.036834716796875) 96%, rgba(21, 105, 206, 0) 100%); */

}

.shopping-cart {
    width: 70%;
    height: 80%;
    margin: 0px auto;
    background: white;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.title {
    height: 2rem;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    padding-bottom: 3%;
    color: #5E6977;
    background: white;
    font-size: 18px;
    font-weight: 400;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.item {
    padding: 8% 10%;
    height: 12%;
    display: flex;
    align-items: center;
}

.item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 20px;
    /* Adjusted for mobile view */
}

.delete-btn,
.like-btn {
    display: inline-block;
    cursor: pointer;
}

.delete-btn {
    width: 20px;
    height: 20px;
    background-color: red;
    /* Adjust as needed */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.delete-btn::after {
    content: '×';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Adjust as needed */
}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    /* background: ur'); */
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

.image {
    margin-right: 20px;
}

.image img {
    width: 100px;
    /* Adjust image size as needed */
    height: auto;
}

.description {
    padding-top: 10px;
    margin-right: 20px;
    /* Adjusted for mobile view */
    width: 50%;
    /* Adjusted for mobile view */
}

.description span {
    display: block;
    font-size: 20px;
    color: #43484D;
    text-align: center;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    /* Adjusted for mobile view */
}


.quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.button-plus-minus {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img,
.plus-btn img {
    width: 100%;
    height: auto;
}


.total-price {
    width: 12%;
    text-align: center;
    padding-left: 10%;
    font-size: 20px;
    /* font-weight: bold; */
    color: #43484D;
    font-weight: 300;
    display: flex;
    align-items: center;
}

@media (max-width: 1100px) {
    .shopping-cart {
        width: 80%;
        /* height: auto; */
        overflow: scroll;
    }
    
    .title{
        padding-bottom: 10%;
    }
    .cart-footer{
        display: flex;
        align-items: center;
    }

    .total-price {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        /* margin-top: 4%; */
    }

    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        /* margin-bottom:  */
    }
    .item:last-child{
        padding-bottom: 10%;
    }

    .image img {
        width: 50%;
        /* height: 50%; */
    }

    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons {
        margin-right: 20px;
    }

    .delete-item-icon{
        display: block;
        /* align-items: center; */
        /* padding-left: 4%; */
    }
    .delete-item-icon button{
       /* margin-top: 100px; */
       display: block;
    }

}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 25px;
    background-color: #9175F9;
    /* position: sticky; */
    /* bottom: 0; */
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;

    overflow-x: hidden;
}

/* .checkout-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
} */


.total-cart-price {
    font-size: 18px;
    color: white;
    font-weight: bolder;

}


/* button checkout */

.checkout-button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    width: 10rem;
    padding: 0 2rem;
    /* border-radius: 1.5rem; */
    font-weight: bold;
    text-align: center;
    background: white;
    background-size: 400%;
    color: black;
    border: none;
    cursor: pointer;
}

.checkout-button:hover::before {
    transform: scaleX(1);
}

.checkout-button-content {
    position: relative;
    z-index: 1;
}

.checkout-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, rgb(19, 103, 204) 0%, rgba(21, 105, 206, 0.8491596467688638) 4%, rgba(249, 249, 249, 0.036834716796875) 96%, rgba(21, 105, 206, 0) 100%);
    transition: all 0.475s;
}

.delete-item-icon{
    display: flex;
    align-items: center;
    padding-left: 4%;
}
.delete-item-icon button{
    background: transparent;
    border: none;
}

.delete-item-icon button:hover{
    /* border: 1px solid black; */
    /* background: gray; */
    color: gray;
    transition-duration: 0.5s;
}


.font24px{
    font-size: 17px !important;
}




.buttonRemoveItem {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .buttonRemoveItem:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .buttonRemoveItem:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
  }
  
  .buttonRemoveItem::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
  }
  
  .buttonRemoveItem:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

.removeButtonParent{
    display: block;
}