.nav{
    /* position: fixed; */
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color: #9175F9;
    /* opacity: 0.8; */
    z-index: 100;
    
}

.navLogo img{
    height: 100%;
    width: 100%;
}
body.dark .nav{
    border: 1px solid #393838;

}
.nav .nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #9175F9;
    margin: 0 auto;
    display: flex;
  
    align-items: center;
    padding-left: 3%;
    justify-content: space-between;
    padding-right: 3%;
}

.nav .nav-bar .sidebarOpen{
    color: white;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-left: 0px;
}.navLogo{
    height: 50%;
    width: 9%;
}
.navLogo img{
    height: 100%;
    width: 100%;
    /* margin-left: -40%; */
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 23px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #9175F9;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: #9175F9;
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #9175F9;
    background-color: white;
}

body.dark .search-field input{
    color: white;
}

.search-field i{
    position: absolute;
    color: #9175F9;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: white;
}

@media (max-width: 900px) {
    .nav .nav-bar .sidebarOpen{
        display: block;
    }
    .nav{
        height: 75px;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 250px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: #9175F9;
        z-index: 100;
        transition: all 0.4s ease;
    }

    .nav.active .menu{
        left: -0%;
    }

    .nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .navLogo{
        height: 30px;
        width: 100px;
    }
    .navLogo img{
        height: 100%;
        width: 100%;
        margin-left: -40%;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}