*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
.container{
    width: 100%;
    height:100vh;
    display: flex;
}
.left-child{
    background: linear-gradient(90deg, rgba(21,105,206,1) 0%, rgba(21,105,206,0.8491596467688638) 4%, rgba(249,249,249,0.036834716796875) 96%, rgba(21,105,206,0) 100%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-child{
    /* background-color: blue; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img{
    width: 35.1rem;
  height: 30.1rem;
  
}
.login-img img{
    width: 100%;
    height: 100%;
    animation: loginAnimation 4s linear 0s infinite ;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
@keyframes loginAnimation {
    0%{
        scale:1;
    }50%{
        scale:1.03;
        /* scale:1.4; */
    }100%{
        scale:1;
    }
}

.form {
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    width: 20rem;
    height: 25rem;
  }
  
  .signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 2.4em;
  }
  
  .form--input {
    width: 100%;
    margin-bottom: 3em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding:0.3em;
    font-family: 'Inter', sans-serif;
    outline: none;
  }
  
  .form--input:focus {
    border: 1px solid #639;
    outline: none;
  }
  
  .form--marketing {
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
  }
  
  .form--marketing > input {
    margin-right: 0.625em;
  }
  
  .form--marketing > label {
    color: grey;
    font-size: large;
  }
  
  .checkbox, input[type="checkbox"] {
    accent-color: #639;
  }
  
  .form--submit {
    width: 50%;
    font-size: inherit;
    padding: 0.625em;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: 1px dashed #639;
    cursor: pointer;
  }
  
  .form--submit:hover {
    color: #639;
    background-color: white;
    border: 1px dashed #639;
    cursor: pointer;
    transition: 0.5s;
  }